* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 10px 15px;
  background: linear-gradient(rgb(252, 209, 171), rgba(172, 219, 252, 0.987));
}

h1 {
  font-style: italic;
  color: white;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  align-self: flex-start;
  position: relative;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 15px;
}

.grid-size {
  background-color: gray;
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

.generate-new-grid-cont {
  height: 66px;
}

.generate-new-grid-button:active {
  margin: 2px 0 0 2px;
}

.container {
  width: 450px;
  height: 450px;
  border-radius: 10px;
  border: 40px solid rgb(182, 56, 56);
  display: flex;
  background-color: rgb(205, 203, 203);
  flex-wrap: wrap;
  margin-bottom: 15px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 90%);
  pointer-events: none;
}

.square {
  border: 1px solid rgb(75, 76, 77);
  pointer-events: auto;
}

.generate-new-grid-button,
.modification-buttons-container button {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 5px;
  pointer-events: auto;
  border: none;
  cursor: pointer;
  font-family: system-ui;
  background-color: white;
  font-style: italic;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
}

.modification-buttons-container {
  pointer-events: none;
}
